.mainW {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.keywordCW{
    border: 0.5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 1000px;
    align-items: center;
    
}

.searchKeywordBW {
    display: flex;
    align-items: center;
    height: 3rem;
    
}

.keywordBW {
    border: 0.5px solid black;
    width: 100%;
}

.pickedKeywordBW {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mentorListCW {
    border: 0.5px solid black;
    margin-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mentorCard {
    display: flex;
    flex-direction: row;
}

.mentorB {
    display: flex;
}

.mentorBL {
    text-align: center;
    width: 40%;
}

.applySubmit {
    width: 100%;
}

.mentorBPagination {
    margin-top: 1rem;
}